
html {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out 0s;
}

$breakpoint-smallnav:		"(max-width: 1140px)";
$breakpoint-menu:		"(max-width: 990px)";
$breakpoint-columns:		"(max-width: 767px)";
$breakpoint-tablet:		"(max-width: 668px)";
$breakpoint-mobile:		"(max-width: 579px)";

$menu-mobile-height:		60px;

$color-text:			#2D2F32;
$color-text-light:		#474A4E;
$color-text-superlight:		#7C8085;
$color-red:			#cc2036;
$color-blue:			#113d62;

$header-image-height:		590px;
$header-image-width:		$header-image-height * 3.09999;
$header-image-padding-top:	$header-image-height / 1.7;

$header-image-small-height:	420px;


/*-----------------------/
	Header styles
/-----------------------*/
.ie9 .banner-graphic header {
	&.fixed {
		background:#000;}
}


.ie9 #homepage-header-image:before, .ie9 #header-image:before, .ie9 #header-image-small:before {background:rgba(44, 56, 67, 0.4);}

.ie9 header, ie9 .body-content-box {box-shadow:0 0 4px 0 #9D9D9D0;}

.ie8 #header-image #header-image-content.homepage h1:before {background:rgba(0, 0, 0, 0.5);bottom: -10px;content: " ";left: -20px;position: absolute;right: -20px;top: -10px;z-index: -1;}

.ie9 #homepage-spotlight span {background:rgba(44, 56, 67, 0.2);}
.ie9 #homepage-spotlight span:hover {background:rgba(44, 56, 67, 0);}

.banner:after {
	background:#3f6e99;
	display: block;
	height: 0;}

.banner-graphic {

	header{
		border-bottom:0;
		background:rgba(0, 0, 0, 0.45);

		@media #{$breakpoint-menu} {
			background: #4F7FAB;}

		&.menu-visible {
			background: #F9F9F9;
			
			
			@media #{$breakpoint-menu} {
				height:auto;
				background:#4F7FAB;
				}
			}

		#nav-wrap > li > a {
			//color:#FFF;
			
			@media #{$breakpoint-tablet} {
				color:#26292C;
				}
			}
		}

	#body-wrapper {
		//margin:40px auto 0 auto;
		}

	section.body-content {
		padding:7em 0.5em;

		.row {
		font-size:1.3em;line-height:1.5em;}
	
		@media #{$breakpoint-menu} {
			padding:4em 1.5em;
			margin: 0 1em}
		@media #{$breakpoint-tablet} {
			padding:4em 1.5em;
			}
		}

	section.body-content-box {
		@media #{$breakpoint-menu} {
			margin-bottom:1em;}
		}

	.body-content .bread-list a {
		color: #DAE8F5;
		}
	.bread-list li {
		color: #fff;

		&:after {
			color:rgba(255,255,255,0.4);
			}
		}
	.body-content h1 {
		color:#fff;
		}

	}


header {
	width:100%;
	height: 80px;
	transition:all 0.3s ease-in-out 0s;
	position:absolute;top:0;
	z-index: 99;

	@media #{$breakpoint-menu} {
		background: #4F7FAB;
		border:0;
		height:$menu-mobile-height;
	}
}


header #banner-wrap {
	max-width:77em;
	margin:0 auto;
	padding: 0 1em;
	position:relative;

	@media #{$breakpoint-menu} {
		background: #000;
		width: 100%;
		position: absolute;
		display: block;
		height: $menu-mobile-height;
		}
	}
header h1 {
	display:inline;
	
		
	@media #{$breakpoint-menu} {
	}
}

header h1 .logo-hi {
	background: url("../images/hi-logo.png") no-repeat scroll;
	height: 65px;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	white-space: nowrap;
	width: 250px;
	z-index: 999;
	background-position: 0 0;
	transition: all 0.4s ease-in-out 0s;
	top:4px;

	@media #{$breakpoint-menu} {
		left: 7px;
		background-size: 190px;
	}
}

header.fixed {
	position:fixed;
	background:#000000;
	border-bottom:0;
	border-top:0;
	height: 80px;

	@media #{$breakpoint-menu} {
		background: #4F7FAB;
		border:0;
		position:fixed;
		top:0;
		height:$menu-mobile-height;
	}


	#nav-wrap {
	}

	&.menu-visible {
		height:370px;
		background:#f9f9f9;
		
		//Change font color for dark background
		#nav-wrap > li > a { 
			color: #1f2122;}
		h1:after {
			color: #1f2122;}
		
		#nav-wrap > li.selected > a { 
			color:#c4634b;}
		//end change font color

		@media #{$breakpoint-menu} {
			height:90px;
		}
	}
	
	#nav-wrap > li > a { 
		}
	#nav-wrap > li.selected > a { 
		// old color - color: #c4634b;
		color:#F5DED8;
		}
}


/*-----------------------/
	Navigation styles
/-----------------------*/
.nav-main {
	@media #{$breakpoint-menu} {

		&.active {
			-webkit-transform: translateY(0%);
			-ms-transform: translateY(0%);
			transform: translateY(0%);;
			}

		background: #F9F9F9;
		margin: 0 -1em;
		transition-duration: 0.5s;
		transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
		width: 100%;
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
		z-index: -1;
		position: absolute;
		top: $menu-mobile-height;
	}
}

#nav-button {
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 20px;
	position: absolute;
	right: 6px;
	top: 6px;
	height: $menu-mobile-height - 12;
	transition: 1s all ease-in-out; 

	@media #{$breakpoint-menu} {
		display:block;    
	}

	&:before {
	content: "";
	display: table-cell;
	font-family: fontawesome;
	font-size: 1.4em;
	height: $menu-mobile-height - 12;
	text-align: center;
	vertical-align: middle;
	width: 54px;
	}
	
	&.active{
	&:before {
	content: "";
	}}

}
nav {
	position:relative;
	
	@media #{$breakpoint-menu} {
		}
	
}
#nav-wrap, #nav-utility {
	position:absolute; right:0;top: 0px;

	@media #{$breakpoint-menu} {
		left:0;display:block;top:0px;width:100%;position: static;margin:0;padding:0;background:#F2F2F2;
	}

	> li:last-child a {
		padding-right: 0;
		@media #{$breakpoint-menu} {
			padding-right:0;
			}
		}
}
#nav-wrap > li{
	display:inline;float: left;

	@media #{$breakpoint-menu} {
		display:block;padding:0;margin: 0 10%;border-bottom:1px solid #E1E2E2;float:none;text-align: center;
	}
}




#nav-wrap > li:hover .mega-dropdown {
	height: auto;
	left: 5%;
	opacity: 1;
	padding: 2%;
	z-index: 1;

	@media #{$breakpoint-menu} {    
		height: auto;
		left: auto;
		opacity: 1;
		padding:10px 10px 10px 18px;
		right: 0;
		margin: 0;
	}
}
#nav-wrap > li > a {
	color: rgba(255, 255, 255, 0.7);
	font-size: 18px;
	font-weight: 300;
	margin: 0;
	padding: 38px 23px 18px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	
	.fa {font-size: 80%;}

	@media #{$breakpoint-smallnav} {
		font-size:18px;

		&:after {
			//color: rgba(0, 0, 0, 0.40);
			//content: "";
			//display: inline;
			//font: 400 10px "FontAwesome";
			//padding: 16px 0 6px 3px;
		}
	}
	@media #{$breakpoint-menu} {
		font-size:20px;
		display: block;
		padding: 10px 0;
		font-weight: 700;
	}



}
#nav-wrap > li.selected > a {
	color: $color-red;
}



.menu-icons:before {
    color: #C4DDF4;
    font-size: 10px;
    margin: 0 0 0 4px;
	}


/*-----------------------/
	Footer styles
/-----------------------*/

footer {
    background:$color-red;
    padding:3em 1em;
    font-size: 115%;color:#fff;
}





#body-wrapper {
	margin:0 auto;
	max-width:100%;

	#body-header {
		padding-top:100px;}

	@media #{$breakpoint-menu} {
		margin:$menu-mobile-height auto 0;

		#body-header {
			padding-top:0;}
		}
	}
section#body-wrapper:after {
	content: " ";
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition-duration: 0.5s;
	opacity: 0;
	visibility:hidden;
	z-index:90;}

section#body-wrapper.active:after {
	opacity:100;
	display: block;
	visibility:visible;}

.body-content {
	margin:0 auto;
	max-width:64em;
	padding: 3em 1em;
	font-size:1em;
	line-height:1.925em;
	
	@media #{$breakpoint-menu} {
		padding:1.5em;
		margin: 0 1em}
	@media #{$breakpoint-tablet} {
		padding:1.5em;
		}

	h1 {
		//padding-bottom:0.4em;
		}
	a {
		border-bottom:1px dotted #C8CACD;

		img {
			display:block;}}
	}

.body-content-small {
	padding-top:175px;
	
	@media #{$breakpoint-menu} {
		padding-top:20px;}
	}

.body-content-box {
	background:#fff;
	padding:3em 1em;
	box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
	margin-bottom: 5em;
	
	ul.tabs {
		margin-top:0;}
	
	@media #{$breakpoint-menu} {
		padding:2em;
		margin-bottom:0;
		margin-bottom:1em;}
	}


.subhead-header {
    font-size: 0.9em;
    line-height: 1.41961em;
    margin-bottom: 0.9em;
    margin-top: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
}
.subhead-headline {
    line-height: 1.41961em;
    margin-top: 0.6em;
}

.subheader {
	color: #686B70;
	font-size: 1.4em;
	line-height: 1.7em;
	margin:20px 0;
	display:inline-block;
	
	@media #{$breakpoint-tablet} {
		font-size: 1.1em;}
}


.subhead-line {
    overflow: hidden;
    text-align: center;
    color:rgba(0, 0, 0, 0.80);
    font-weight:400;
    padding-top:1em;
}
.subhead-line:before,
.subhead-line:after {
    background-color: rgba(0, 0, 0, 0.1);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.subhead-line:before {
    right: 1em;
    margin-left: -50%;
}
.subhead-line:after {
    left: 1em;
    margin-right: -50%;
}


.subhead-line2 {
  text-align: center; /* horizontal centering */
  line-height: 4px; /* vertical centering */
  height: 3px; /* gap between the lines */
  font-size: 1.2em; /* choose font size you like */
  border-width: 1px 0; /* top and bottom borders */
  border-style: solid;
  border-color:#E3E3E3;
  margin: 3em 10%; /* 20px space above/below, 10px left/right */

  /* ensure 1px gap between borders */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

.subhead-line2:after {
  color: #C9C9C9;
  display: inline; /* for vertical centering and background knockout */
  background-color: #fff; /* same as background color */
  padding: 0 0.3em; /* size of background color knockout */
}


/*tables*/
table {
	border: 1px solid #E6E3E3;}
tr {
    border-bottom: 1px solid #E6E3E3;
    padding: 12px;
}
td, th {
    background: none repeat scroll 0 0 #F9F9F9;
    padding: 5px 10px;
}
thead {
    background: none repeat scroll 0 0 #CCCCCC;
}
thead tr th {
    background: none repeat scroll 0 0 #E7E7E7;
}
.table-sortable th {cursor:pointer;}

.column-small {font-size:90%;line-height: 1.75em;}
.column-large {font-size: 110%;line-height: 1.9em;}
.center-text {text-align:center;}



/* colors */
.color-red {color:$color-red;}
.color-blue {color:$color-blue;}
.color-text {color:$color-text;}
.color-white {color:#FFF;}




.hidden {visibility:hidden;display:none;}
.link-bold {padding:20px 0;font-weight:700;font-size:1em;
	&:before {
	content:"";
	font-family:fontawesome;
	padding-right:8px;color:#BBCEDD;}
	&:hover {
	text-decoration:underline;}
}

a.button {
	border: 2px solid $color-red;
	display: inline-block;
	font-size: 20px;
	font-weight: 300;
	margin: 12px 6px 12px 0;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: auto;
	background:#fff;
	color:#000;

	&:hover {
		color:#FFF;
		background:$color-red;
	}
}

a.button-red {
	color:#fff;
	border: 1px solid #813A28;
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	margin: 12px 6px 12px 0;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: auto;
	background:$color-red;

	&.transparent {
		background:rgba(196, 99, 75, 0.75);
	}

	&:hover {
	}
}

a.button-blue {
	color:$color-blue;
	border: 1px solid #95b2cc;
	color: $color-blue;
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	margin: 12px 6px 12px 0;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: auto;
	background:#f5f7fa;

	&:hover {
		color:#FFF;
		background:$color-blue;
		border:1px solid #34618B;
	}
}

h3.side-menu-header {
	margin-bottom: 0;
	padding: 0 0 20px;
	text-align: center;
}

ul.list-inline {
	li {display:inline-block;}
	}
ul.list-2-col {
	display:inline-block;
	width:100%;

	li {width:47%;float:left;
		
		@media #{$breakpoint-menu} {
			width:100%;}
		}
	}
ul.list-3-col {
	display:inline-block;
	width:100%;

	li {width:31%;float:left;}
	}

ul.list-button {
    padding: 0;
    li {
    list-style:none;
	a {
		border: 1px solid #CFDBE7;
		display: block;
		margin: 0 1em 1em 0;
		padding: 0.75em;

		&:hover {
		background:#4F79A0;
		color:#fff;
		text-decoration:none;
		}

		&:after {
		content:"";
		font-family:fontawesome;
		padding:0 0 0 8px;
		}
	}
    }
}
ul.list-links {
    padding: 0;
    li {
    list-style:none;
	a {
		display: block;
		margin: 0 1em 0.3em 0;
		padding: 0.35em 0;
		border:0;

		&:hover {
		text-decoration:none;
		}
	}
    }
}
ul.no-bullet {
	padding:0;
	li {
	list-style:none;
	}}
ul.margin-bottom {
	li {
	margin-bottom:1em;
	}}
.tab-container div ul {
	padding: 0 0 0 1em;}
hr.grey {
    padding: 0;
    border: none;
    border-top: thin double rgba(9, 9, 9, 0.11);
    color: #3D3B3B;
    margin: 3em auto;
    width: 60%;
    }

hr.spacer {
    padding: 0;
    border: none;
    border: 0;
    margin: 5em auto;
    width: 100%;
    }
hr.spacer-small {
    padding: 0;
    border: none;
    border: 0;
    margin: 2em auto;
    width: 100%;
    }

hr.icon {
  text-align: center; /* horizontal centering */
  line-height: 4px; /* vertical centering */
  height: 3px; /* gap between the lines */
  font-size: 1.2em; /* choose font size you like */
  border-width: 1px 0; /* top and bottom borders */
  border-style: solid;
  border-color:#E3E3E3;
  margin: 3em 10%; /* 20px space above/below, 10px left/right */

  /* ensure 1px gap between borders */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

hr.icon:after {
  content: ""; /* section sign */
  color: #C9C9C9;
  font-family:fontawesome;
  display: inline; /* for vertical centering and background knockout */
  background-color: #fff; /* same as background color */
  padding: 0 0.3em; /* size of background color knockout */
}




.red-box {
    background:#C4634B;
    border: 1px solid #A04832;
    padding: 20px;
    color:#F0D8D2;

	    h3 {
	    color: #fff;
	    font-size:110%;}

	    a {
		color:#fff;
		border-bottom:1px solid #fff;}

	    a.button {
		border: 1px solid #a34832;
		color: #c4634b;
		
		&:hover {
			color:#fff;
			background:#a34832;}
		}
}

.grey-box {
    background:#f5f5f5;
    border: 1px solid #dedede;
    padding: 20px;
    color:rgba(0,0,0, 0.75);

    h3 {
    }
}

.yellow-box {
    background: none repeat scroll 0 0 #fffce6;
    border: 1px solid #e6e1bb;
    color: rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.top-blue:before {
	background:#4f7fab;
	box-sizing: content-box;
	content: "";
	height: 3px;
	left: -1px;
	padding: 0 1px;
	position: absolute;
	top: -1px;
	width: 100%;}

.top-red:before {
	background:#C4634B;
	box-sizing: content-box;
	content: "";
	height: 3px;
	left: -1px;
	padding: 0 1px;
	position: absolute;
	top: -1px;
	width: 100%;}

.top-align-p {margin-top:2em;}


.blue-background {
	background:#4F7FAB;  margin: 0 -500%;padding: 0.5em 500%;
	}

.black-background {
	background:#202223;
	margin: 0 -500%;
	padding: 3em 500%;
	}

.black-background-lighter {
	background:#2E3032;color: #FFFFFF;

	a {color:#C4634B;}
	}


.header-arrow {color:rgba(0,0,0,0.2);}

ul.document {padding-left:0;
	li {
		list-style:none;padding-left: 25px;padding-bottom:20px;
		&:before {
			content: ""; font-family: "fontawesome";float:left;position:absolute;left:0px;color:rgba(0,0,0,0.15);
			}
		}
	}

blockquote {
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    font-size: 1.425em;
    font-weight: 700;
    padding: 1em 0;}
.icon-search {color:$color-text;font-size: 1.6em;padding: 0.3em;}
.col-blue-img-desc {color: #FFFFFF;padding: 0 30px 0 0;}
.col-blue-img-desc h3 {color: #CCDCF5;font-weight: 300;}
.col-blue-img-desc a {color: #C4634B;}
.absolute-center {margin:0 auto !important;}
.text-small {display:inline-block;font-size:83%;line-height:1.5em;}
.image-main {margin:30px 0;}
.margin-small {margin-bottom:1em;}
.margin-medium {margin-bottom:2em;}
.margin-large {margin-bottom:3em;}
.padding-small {padding-bottom:1em;}
.padding-medium {padding-bottom:2em;}
.padding-large {padding-bottom:3em;}
.margin-halfgap {margin-top: -1.065em;}
.button-border {
    border: 1px solid $color-red !important;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 30px;
    color:#C4634B;}

#section-white {
	background:#fff;box-shadow:0 0 4px rgba(0, 0, 0, 0.3);position:relative;}

#section-white:after {
    /*border-color: transparent transparent #fff #fff;
    border-image: none;
    border-style: solid;
    border-width: 16px;
    bottom: -28px;
    box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.25);
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin: -28px auto 0;
    position: relative;
    transform: rotate(-45deg) translate(-7px, -3px);
    -moz-transform: rotate(-45deg) translate(-7px, -3px);
    -webkit-transform: rotate(-45deg) translate(-7px, -3px);
    transform-origin: 0 0 0;
    width: 0;*/}

.ie8 #section-white:after, .ie9 #section-white:after {
	display:none;}

.light {font-style:italic;color:#87898C;}

.no-margin {margin:0 !important}
.no-padding {padding:0 !important;}

//tablet hidden
.t-hidden {
    	@media #{$breakpoint-menu} {
		visibility:hidden; }
	}
.t-no {
    	@media #{$breakpoint-menu} {
		display:none; }
	}

//mobile hidden
.m-hidden {
    	@media #{$breakpoint-columns} {
		visibility:hidden; }
	}
.m-no {
    	@media #{$breakpoint-columns} {
		display:none; }
	}
//desktop hidden

noscript {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
    background:#F0FF00;}

.homepage-spotlight-box {
	background:$color-red;
	color: rgba(255, 255, 255, 0.70);
	padding: 20px;
	margin-bottom: 0.5em;

	
    	@media #{$breakpoint-columns} {
		margin-top: 0.5em;
		transition: none;
		}

    	@media #{$breakpoint-columns} {
		text-align:center;}
	}

.homepage-spotlight-box span {
    color: #ffffff;
display: inline-block;
  font-size: 1em;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  padding: 20px;}

.homepage-spotlight-box img {
	margin: 0;
	left: 0%;
	margin:  0 0 2em;
	width: 100%;

	@media #{$breakpoint-menu} {
		//width:40%;left:0;margin:0 0 0;
		border: 4px solid rgba(255, 255, 255, 0.8);
		width: 90%;
		margin-bottom:1em;
		left:5%;
		}

	@media #{$breakpoint-columns} {
		display:none;}
	}

.homepage-spotlight-box p {
    margin: 0;clear:both;padding:20px 20px 20px 20px; font-size: 0.6em;
    line-height: 1.6em;

	@media #{$breakpoint-columns} {
		clear:none;}
	}

.homepage-spotlight-box .button {
    background:#93412d;
    border: 1px solid #e68e78;
    color: #fff;}

.homepage-solutions-box {
	background:rgba(4, 18, 29, 0.9);
	color: rgba(255, 255, 255, 0.70);
	padding: 40px 20px 20px;
	margin-bottom: 0.5em;
	margin-top: 2em; 

	
    	@media #{$breakpoint-columns} {
		margin-top: 0.5em; 
		box-shadow:none;
		text-align:left;
		background:none;
		margin-left:0;
		transition: none;
		
		&:hover {
			background:none;}
		}

    	@media #{$breakpoint-columns} {
		text-align:center;}
	}

.homepage-solutions-box span {
    color: #ffffff;
    display: block;
    font-size: 1em;
    font-weight: 700;}

.homepage-solutions-box i {
	color:$color-red;
	font-size:2em;
	margin-bottom:0.4em;
}
.homepage-solutions-box p {
    margin: 0.5em 0;clear:both;font-size: 0.6em;
    line-height: 1.6em;

	@media #{$breakpoint-columns} {
		clear:none;}
	}

#header-image-content {
	padding: 12em 0 6em; 
	margin:0 auto;
	max-width: 64em;
	display:block;

    	@media #{$breakpoint-menu} {
		padding:2em 1.5em;}
	}



#homepage-header-image #header-image-content h1 {
	color: #fff;
	text-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
	position: relative;
	font-weight: 200;
	padding-bottom: 0.1em;
	display:inline-block;
	font-size:6em;
	margin-bottom:1.5em;
	text-align: left;
	
	
    	@media #{$breakpoint-menu} {
		//font-size:2.8em; 
		//padding-bottom: 0.5em;
		}
	
    	@media #{$breakpoint-columns} {
		//font-size:2.6em; 
		}
	
    	@media #{$breakpoint-tablet} {
		font-size:4em; }

	}

#homepage-header-image #header-image-content h3 {

	color: rgba(255,255,255,0.7);	
	font-weight:300;
	font-style: italic;
	font-size: 22px;
}
h2 {
	color:$color-red;
	font-size: 1.6em;
	font-weight: bold;
	border-bottom:4px solid $color-red;
	border-top:4px solid $color-red;
	padding:0.3em 0;
	display:inline-block;margin-top:0;}

h3 {display:inline-block;margin-bottom:0;margin-top:0;font-size:1.25em;}

